<p id="notice"><%= notice %></p>

<div id="menu-list">
  <h4>Menu: </h4>
  <h4><a href="/contents">content list</a></h4>
  <h4><a href="/categories">categories list</a></h4>
</div>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
